  
<hr>
    <p2>
         <img src="/img/csumblogo.png" alt="CSUMB logo" width="140px" /> <br>
        Internet Programming. 2020&copy; Memon <br />
        <strong>Disclaimer:</strong> The information in this webpage is fictious. <br />
        It is used for academic purposes only.
    </p2>
    </body>
</html>