container {
    width: 500px;
    clear: both;
    border-style: solid;
    background-color: lightgray;
    padding: 25px 50px 25px 50px;
}

.container input {
    width: 100%;
    clear: both;
    border-radius: 35px;
    border: 2px solid gray;

}
